.button {
  border: none;
  border-radius: 200px;
  height: 56px;
  width: 166px;
  /* padding: 16px 60px; */
  background: var(--primery-color-red);
  font-weight: 500;
  font-size: var(--font-size-sm);
  line-height: var(--line-height);
  text-align: center;
  color: var(--primery-color-white);
  transition: box-shadow 0.3s ease;
}

.button:hover,
.button:active {
  background: var(--primery-color-red-hover);
}

.submit {
  display: block;
  margin: 24px auto 0;
}

.more {
  margin-top: 40px;
  background: var(--primery-color-white);
  color: var(--primery-color-main);
}

.more:hover,
.more:active {
  border: 1px solid #d84343;
  background: var(--primery-color-white);
}
