.button {
  border: none;
  border-radius: 200px;
  height: 56px;
  padding: 16px 48px;
  background: var(--primery-color-red);
  font-weight: 500;
  font-size: var(--font-size-sm);
  line-height: var(--line-height);
  text-align: center;
  color: var(--primery-color-white);
  transition: box-shadow 0.3s ease;
}

.button:hover,
.button:active {
  background: var(--primery-color-red-hover);
}
